/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1.documentFirstHeading {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2.documentFirstHeading {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3, #portlets-below dt.portletHeader {
	font-family: 'Conv_MavenPro-Regular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
}

.big, h4, h2.tileHeadline {
	font-family: 'Conv_MavenPro-Regular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-decoration:none;
}

.big-special {
	font-family: Georgia;
	font-weight: normal;
	font-style: italic;
	font-size: 28px;
	line-height: 32px;
	text-decoration:none;
}

.medium {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-decoration:none;
}

body {
	font: 12px/18px Helvetica, Arial, serif;
}

.small, small {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 9px;
	line-height: 14px;
}

.special {
	font-family: 'Conv_MavenPro-Regular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-decoration:none;
}

.small-special {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration:none;
}

.special-italic {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
}


/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	background: #f1f1f1;
	color: rgb(40,40,40);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

a {
	color: #4d8ed4;
 	text-decoration: none;
}

h1.documentFirstHeading {
        background: url("../../images/background-2v.gif") repeat-x scroll 0 0 #4D8ED4;
        color: #FFFFFF;
	padding: 28px 22px;
	text-shadow: 1px 1px 9px #777777;
        font-family: 'Conv_MavenPro-Regular',Helvetica,Arial,sans-serif;
    	font-size: 22px;
    	font-weight: normal;
    	line-height: 26px;
}

.blog-item h1.documentFirstHeading {
    background:none;
    color: #444444;
    text-shadow: none;
    border-bottom: 1px solid #CFCFCF;
    margin: 16px 0;
    padding: 16px 0;
    font-family: Georgia;
    font-size: 28px;
    font-style: italic;
    font-weight: normal;
    line-height: 32px;
    text-decoration: none;
}

.blog-item h1.documentFirstHeading a{
    color: #444444;
}


/* (almost) All elements.. */
/* Here our main column width is applied to all the elements. The
  ones that span the whole screen are either not defined here or
  use wrappers which get the CSS properties */

#header, #search-bar, #image-slider, .section, #footer, .hr {
	position: relative;
	width: 896px;
	margin: 0 auto;
}

#content-wrapper {
	position: relative;
	width: 896px;
	margin: 0 auto;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
}

.section {
	padding:0;
	overflow:auto;
}

/* Header */

#header-wrapper {
	width: 100%;
	background: #fafafa;
}

#header {
	overflow: hidden;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#header-logo {
	float:left;
	padding:14px 14px 10px 14px;
}

/* Navigation */

#nav {
	float:right;
	overflow: auto;
}

#list-nav {
	position: relative;
}

#list-nav li {
	display:block;
	float:left;
	list-style-type: none;
	padding: 52px 0px;
	text-transform: lowercase;
}

#list-nav a {
	color: #777;
	text-shadow: 0px 1px 1px #fff;
    text-decoration: none;    
	padding: 54px 16px;
}

#list-nav li:hover {
	color:#222;
	background:#eee;
}

#list-nav .selected {
	background:#52517f url(../../images/background-2v.gif) repeat-x 0 0;
	color: #fff;
	
}

#list-nav li.selected a{
	color:#fff;
	text-shadow: 1px 1px 8px #fff;
}

#list-nav li.selected:hover {
	background:#52517f url(../../images/background-2v.gif) repeat-x 0 0;
}

/* Language Selection & Search */

#search-bar {
	border: 1px solid #ddd;
	overflow: visible;
    height: 28px;
}

#lang-select {
	padding: 7px;
	float:left;
}

#searchGadget {
	line-height:16px;
	border: 1px solid #dadada;
	float: right;
	background: transparent;
	margin: 4px;
	color: #282828;
        width: 210px;
}

#searchGadget.inputLabelActive {
        color: #777;
}

#LSResult {
	background-color: #fff;
	position:absolute;
        z-index: 10000;
        top: 29px;
	display: none;
        width: 200px;
        right: 0;
        padding: 0 10px;
	border-left: 1px solid #4d8ed4;
	border-bottom: 1px solid #4d8ed4;
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
}

.LSRow {
	list-style-type: none;
	margin-top:10px;
	margin-bottom:10px;
}

.LSRow a {
	font-weight: bold;
}

.LSDescr {
	padding-left: 10px;
}

#livesearchLegend {
	font-weight: bold;
	color: #777;
	font-size: 10px;
}
/* Image Slider */

#image-slider {
	background:#4d8ed4 url(../../images/background-2v.gif) repeat-x 0 0;
    display: none;
	overflow:visible;
}

body.section-state-of-the-art-information-systems #image-slider {
	display:block;
}

#slidesContainer {
  margin:0 auto;
  width:896px;
  height:320px;
  overflow-x:hidden;
  overflow-y:auto; /* allow scrollbar */
  position:relative;
}

.slide {
  margin:0 auto;
  width:896px;
  height:280px;
  position:relative;
}

.slide ul {
	padding-left:20px;
	list-style: square;
}

.slide ul li {
	margin-top:20px;
}

.slide-text {
  position: relative;
  display: block;
  z-index: 100;
  padding: 18px;
  color: #fff;
}

.processing-canvas {
  position:absolute;
  left:0px;
  top:0px;
  width: 100%;
  height:320px;
}

/* Controls */
.control {
  display:block;
  width:14px;
  height:22px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index:1000;
}

#leftControl {
  top:150px;
  left:-24px;
  background:transparent url(../../images/slider/control_left.jpg) no-repeat 0 0;
}
#rightControl {
  top:150px;
  right:-24px;
  background:transparent url(../../images/slider/control_right.jpg) no-repeat 0 0;
}

/* Main */

.section-title {
	padding: 28px 22px;
	color: #fff;
	text-shadow: 1px 1px 9px #777;
}

/*
#content p, #viewlet-below-content {
	padding: 0 18px 32px;
}
*/

#content {
	padding: 0 18px;

}

#content h1.documentFirstHeading {
	margin-left: -18px;
	margin-right: -18px;
}

.column, #content-core .tileItem {
	width: 228px;
	padding: 0px 18px 32px;
	float:left;
	color: #444;
}

h3.column-title a{
    color:#444444;
}

#content-core {
    width: 504px;
}

#portal-column-two {
     position: absolute;
    right: 0;
    top: 84px;
    width: 320px;
    background:transparent url(../../images/background-3.gif) repeat-y 0 0;
    padding: 0 18px 32px;
}
body.section-projects #content-core {
    width: auto;
}

#blog-listing {
    padding: 0 18px 32px;
}

#content-core .tileItem {
        height: 228px;
	padding: 20px 18px 2px;
}

.listingBar {
    float: left;
    clear: left;
}

.gradient {
	background:transparent url(../../images/background-3.gif) repeat-y 0 0;
}

.gradient-vert {
	background: #4d8ed4 url(../../images/background-2v.gif) repeat-x 0 0;
}

.gradient-vert-lite {
	background: #52517f url(../../images/background-5.gif) repeat-x 0 0;
}

.column-title, .slide .item-title {
	padding: 16px 0;
	margin: 16px 0;
	border-bottom: 1px solid #cfcfcf;
}

.slide a {
	color: #fff;
}

.slide {
    font-family: 'Conv_MavenPro-Regular',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    text-decoration: none;
}

.column ul {
	padding-left: 20px;
}
.column ul li {
	padding: 0.5em 0;
}

.wide {
	width: 320px;
}

.double {
	width: 504px;
}

.triple {
	width: 748px;
}

.half-width {
	width: 412px;
}

.column-image {
	float: left;
	padding: 14px 18px 14px 0;
}

/* News */

#news {
	float:right;
}

.news-column {
	float:left;
	width:236px;
	padding: 0 15px 0 0;
}

.news-column li {
	list-style: none;
}

.news-title {
	
}

.news-content {
	
}

/* Logo Section */

#logos {
	background: url("../../images/background-1.gif") repeat 0 0;
	border-top: 1px solid #ddd;
	padding-bottom: 24px;
}

#logos li {
	float: left;
	padding: 24px 55px;
	margin: 8px;
    display:inline;
}

#logos li a.logo {
    width:96px;
    height:96px;
}

#logos span {
    width:96px;
    height:96px;
    overflow:hidden;
    display:block;
}

#logos li a.logo:hover {
    background: #ddd; /*--Hover effect for browser with js turned off--*/
}

#logos li a {
    text-decoration: none; 
    color: #777;
    display: block;
}

/* About section */

.we {
	height: 30px;
	padding-left: 44px;
}

.are {
	background: url('../../images/icons/ppl.png') left center no-repeat;
}

.love {
	background: url('../../images/icons/hart.png') left center no-repeat;
}

.provide {
	background: url('../../images/icons/diamant.png') left center no-repeat;
}

.collaborate {
	padding-left: 74px;
	background: url('../../images/icons/canoe.png') left center no-repeat;
}

/* Blog Section */

#blog {
	font-size: 14px;
	line-height: 1.46em;
}

#blog a {
	color:#4080d4;
	text-decoration: none;
}

#blog a:hover {
	text-decoration: underline;
}

#blog .DocumentDescription {
	padding: 0 0 1em 0;
	margin: 1em 0;
	border-bottom: 1px solid #ccc;
}

#blog-sidebar, #portal-column-two {
	border-bottom: 1px solid #ccc;
}

#blog-nav {
	border: 1px solid #ddd;
	overflow: visible;
	padding: 8px 16px;
}

.sidebar-element {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.portletHeader {
    	border-bottom: 1px solid #CFCFCF;
    	margin: 16px 0;
        padding: 16px 0;
        font-family: 'Conv_MavenPro-Regular',Helvetica,Arial,sans-serif;
    	font-size: 22px;
    	font-weight: normal;
   	line-height: 26px;
}

.portletItem {
   	line-height: 1.2em;
   	margin-bottom: 15px;
   	margin-top: 20px !important;
   	margin-left: 0px;
   	font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif !important;
   	font-size: 12px !important;
}

.portletCollection .portletItem {
	margin-left: 15px;
	margin-right: 15px;
}

.portletItem a {
	color: #282828;
}

.portletItem a .portletItemDetails {
	color: #4d8ed4;
	clear: left;
	display: block;
	font-size: 9px;
    	font-style: normal;
	font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif !important;
}

.portletItem a:hover .portletItemDetails {
        text-decoration: underline;
}

.dotted-bg {
	background: url("../../images/background-1.gif") repeat 0 0;
}


/* Prjects Section */

#category {
    	color: #666666;
    	font-size: 90%;
 	margin-bottom: 1em;
	text-align: right;
	padding-right: 30px;
}

.projects-wrapper {
	background: url("../../images/background-1.gif") repeat 0 0;
	overflow: auto;
	width: 100%;
	padding-bottom:20px;
}

.project-column, body.section-projects .tileItem {
	width:298px;
	margin: 0 0 16px 0;
	padding: 0;
	text-align: center;
}

.default-project {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background: url('../../images/projects/sphere.png') center no-repeat;
}

.plone-project {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background: url('../../images/projects/plone.png') center no-repeat;
}

.python-project {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background: url('../../images/projects/python.png') center no-repeat;
}

body.section-projects .tileItem .tileBody, body.section-projects .tileItem .tileFooter {
	display: none
}


#open-source ul {
	padding:24px;
	list-style: none;
}

#open-source li {
	padding:5px;
}

#content-core ul {
    list-style-type: disc;
    margin-left: 2em;
}

#content #parent-fieldname-description {
    color: #666666;
    font: bold 1.25em "Helvetica Neue",Arial,FreeSans,sans-serif;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

body.section-blog #parent-fieldname-description {
    width: 504px;
}

#content-core p, #content-core table, #content-core dl, dl.portlet p, dl.portlet {
    margin-bottom: 1em;
}

#content img.tileImage, #content div.newsImageContainer {
    margin: 0 1em 0.5em;
}

#content-core li, dl.portlet li {
    display: list-item;
    line-height: 1.5em;

}
/* Footer Section */

#footer-wrapper {
	background:#4d8ed4 url(../../images/background-2v.gif) repeat-x 0 0;
	width: 100%;
	border-top:1px solid #aaa;
}

#footer-logo {
	float: left;
	padding:40px 10px;
}

/* Navigation */

#footer-nav {
	float:right;
	padding: 52px 0;
}

#footer-nav li {
	display:block;
	float:left;
	list-style-type: none;
	padding: 14px;
	margin: 0;
	text-transform: lowercase;
}

#footer-nav a {
	color: #eee;
}

#footer-nav li:hover {
	color:#fff;
}

#footer-nav .selected {
	color: #fff;
}

#footer-nav li.selected {
	color:#fff;
}

#footer-disclaimer {
	clear:both;
	color:#eee;
	padding:4px 10px;
}

.searchSection, #search-bar label, #search-bar .searchButton {display:none;}

.LSBox { float:right; }

.twtr-widget { margin-top: -22px; }

.twtr-ft { display: none; }

.twtr-bd {
    padding: 0 0 0 12px !important;
}

#viewlet-below-content {
    clear:both;
}
#category {
    width: 504px;
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	#slidesContainer, .slide, #news, .section, .hr {
		width: 712px;
	}
	
	.column {
		width: 332px;
		margin:0 24px 0 0;
	}
	
	.last {
		margin: 0px;
	}
	
	.logo {
		padding: 10px 45px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	.section, .hr, .slide-text {
		width: 252px;
	}
	
	#header-logo {
		padding: 32px 0;
	}
	
	#header-logo img {
		width: 252px;
		height: auto;
		padding: 0 0 16px 0;
	}
	
	#punch-line {
		font-size: 13px;
		padding: 14px 0;
		float: left;
		clear: both;
		width: 100%;
		border-top: 1px solid #ccc;
	}
	
	#list-nav li {
		font-size: 10px;
		padding: 10px  9px 10px 0;
	}
	
	#lang-search {
		display: none;
		padding-top: 0px;
		float:left;
	}
	
	#main {
		padding: 24px 0;
	}
	
	#news {
		padding: 24px 0;
	}
	
	#logo-wrapper {
		width:252px;
		margin:0 auto;
	}
	
	#logos {
		padding: 24px 0;
	}
	
	.logo {
		width: 102px;
		height: auto;
		padding: 5px;
		margin: 6px;
	}
	
	.column {
		width: 252px;
		margin:0;
		clear:both;
	}
	
}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.section, .hr {
		width: 436px;
	}
	
	#logo-wrapper {
		width:436px;
		margin:0 auto;
	}
	
	.logo {
		width: 110px;
		height: auto;
		padding: 6px 10px;
		margin: 6px;
	}
	
	.column {
		width: 436px;
		margin:0;
		clear:both;
	}
	
}
