/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-family: 'Conv_MavenPro-Regular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
}

.big, h4 {
	font-family: 'Conv_MavenPro-Regular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-decoration:none;
}

.big-special {
	font-family: Georgia;
	font-weight: normal;
	font-style: italic;
	font-size: 28px;
	line-height: 32px;
	text-decoration:none;
}

.medium {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-decoration:none;
}

body {
	font: 12px/18px Helvetica, Arial, serif;
}

.small, small {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 9px;
	line-height: 14px;
}

.special {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration:none;
}

.small-special {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-decoration:none;
}

.special-italic {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
}


/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	background: #f1f1f1;
	color: rgb(40,40,40);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

h1 {
        background: url("../../images/background-2v.gif") repeat-x scroll 0 0 #4D8ED4;
        color: #FFFFFF;
	padding: 28px 22px;
	text-shadow: 1px 1px 9px #777777;
        font-family: 'Conv_MavenPro-Regular',Helvetica,Arial,sans-serif;
    	font-size: 22px;
    	font-weight: normal;
    	line-height: 26px;
}
/* (almost) All elements.. */
/* Here our main column width is applied to all the elements. The
  ones that span the whole screen are either not defined here or
  use wrappers which get the CSS properties */

#header, #search-bar, #image-slider, .section, #footer, .hr {
	position: relative;
	width: 896px;
	margin: 0 auto;
}

#content-wrapper {
	position: relative;
	width: 896px;
	margin: 0 auto;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
}

.section {
	padding:0;
	overflow:auto;
}

/* Header */

#header-wrapper {
	width: 100%;
	background: #fafafa;
}

#header {
	overflow: hidden;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#header-logo {
	float:left;
	padding:20px;
}

/* Navigation */

#nav {
	float:right;
	overflow: auto;
}

#list-nav {
	position: relative;
}

#list-nav li {
	display:block;
	float:left;
	list-style-type: none;
	padding: 56px 0px;
	text-transform: lowercase;
}

#list-nav a {
	color: #777;
	text-shadow: 0px 1px 1px #fff;
    	font-family: Helvetica,Arial,sans-serif;
    	font-size: 14px;
    	font-weight: normal;
    	text-decoration: none;    
	padding: 54px 16px;
}

#list-nav li:hover {
	color:#222;
	background:#eee;
}

#list-nav .selected {
	background:#52517f url(../../images/background-2v.gif) repeat-x 0 0;
	color: #fff;
	
}

#list-nav li.selected a{
	color:#fff;
	text-shadow: 1px 1px 8px #fff;
}

#list-nav li.selected:hover {
	background:#52517f url(../../images/background-2v.gif) repeat-x 0 0;
}

/* Language Selection & Search */

#search-bar {
	border: 1px solid #ddd;
	overflow: visible;
        height: 28px;
}

#lang-select {
	padding: 7px;
	float:left;
}

#searchGadget {
	line-height:16px;
	border: 1px solid #dadada;
	float: right;
	background: transparent;
	margin: 4px;
	color: #282828;
        width: 210px;
}

#searchGadget.inputLabelActive {
        color: #777;
}

#LSResult {
	background-color: #fff;
	position:absolute;
        z-index: 10000;
        top: 28px;
        width: 200px;
        right: 0;
        padding: 0 10px;
}

.LSRow {
	list-style-type: none;
}

#livesearchLegend {
	font-weight: bold;
	color: #777;
	font-size: 10px;
}
/* Image Slider */

#image-slider {
	background:#4d8ed4 url(../../images/background-2v.gif) repeat-x 0 0;
        display: none;
}

body.section-state-of-the-art-information-systems #image-slider {
	display:block;
}

#slidesContainer {
  margin:0 auto;
  width:896px;
  height:320px;
  overflow-x:hidden;
  overflow-y:auto; /* allow scrollbar */
  position:relative;
}

.slide {
  margin:0 auto;
  width:896px;
  height:280px;
  position:relative;
}

.slide-text {
  position: relative;
  display: block;
  z-index: 100;
  padding: 18px;
  color: #fff;
}

.processing-canvas {
  position:absolute;
  left:0px;
  top:0px;
  width: 100%;
  height:320px;
}

/* Controls */
.control {
  display:block;
  width:14px;
  height:22px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index:1000;
}

#leftControl {
  top:150px;
  left:-24px;
  background:transparent url(../../images/slider/control_left.jpg) no-repeat 0 0;
}
#rightControl {
  top:150px;
  right:-24px;
  background:transparent url(../../images/slider/control_right.jpg) no-repeat 0 0;
}

/* Main */

.section-title {
	padding: 28px 22px;
	color: #fff;
	text-shadow: 1px 1px 9px #777;
}

.column {
	width: 228px;
	padding: 0 18px 32px 18px;
	float:left;
	color: #444;
}

.gradient {
	background:transparent url(../../images/background-3.gif) repeat-y 0 0;
}

.gradient-vert {
	background: #4d8ed4 url(../../images/background-2v.gif) repeat-x 0 0;
}

.gradient-vert-lite {
	background: #52517f url(../../images/background-5.gif) repeat-x 0 0;
}

.column-title {
	padding: 16px 0;
	margin: 16px 0;
	border-bottom: 1px solid #cfcfcf;
}

.column ul {
	padding-left: 20px;
}
.column ul li {
	padding: 0.5em 0;
}

.wide {
	width: 320px;
}

.double {
	width: 504px;
}

.triple {
	width: 748px;
}

.half-width {
	width: 412px;
}

.column-image {
	float: left;
	padding: 14px 18px 14px 0;
}

/* News */

#news {
	float:right;
}

.news-column {
	float:left;
	width:226px;
	padding: 0 12px 0 0;
}

.news-column li {
	list-style: none;
}

.news-title {
	
}

.news-content {
	
}

/* Logo Section */

#logos {
	background: url("../../images/background-1.gif") repeat 0 0;
	border-top: 1px solid #ddd;
	padding-bottom: 24px;
}

.logo {
	float: left;
	padding: 24px 55px;
	margin: 8px;
}

/* Blog Section */

#blog a {
	color:#4080d4;
	text-decoration: none;
}

#blog a:hover {
	text-decoration: underline;
}

#blog-sidebar {
	border-bottom: 1px solid #ccc;
}

.sidebar-element {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.portletHeader {
	padding: 18px 0 12px 0;
}

/* Prjects Section */

.projects-wrapper {
	background: url("../../images/background-1.gif") repeat 0 0;
	overflow: auto;
	width: 100%;
	padding-bottom:20px;
}

.project-column {
	width:298px;
	margin: 0 0 16px 0;
	padding: 0;
	text-align: center;
}

#open-source ul {
	padding:24px;
	list-style: none;
}

#open-source li {
	padding:5px;
}

/* Footer Section */

#footer-wrapper {
	background:#4d8ed4 url(../../images/background-2v.gif) repeat-x 0 0;
	width: 100%;
	border-top:1px solid #aaa;
}

#footer-logo {
	float: left;
	padding:40px 10px;
}

/* Navigation */

#footer-nav {
	float:right;
	padding: 52px 0;
}

#footer-nav li {
	display:block;
	float:left;
	list-style-type: none;
	padding: 14px;
	margin: 0;
	text-transform: lowercase;
}

#footer-nav a {
	color: #eee;
}

#footer-nav li:hover {
	color:#fff;
}

#footer-nav .selected {
	color: #fff;
}

#footer-nav li.selected {
	color:#fff;
}

#footer-disclaimer {
	clear:both;
	color:#eee;
	padding:4px 10px;
}

.searchSection, #search-bar label, #search-bar .searchButton {display:none;}

.LSBox { float:right; }

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	#slidesContainer, .slide, #news, .section, .hr {
		width: 712px;
	}
	
	.column {
		width: 332px;
		margin:0 24px 0 0;
	}
	
	.last {
		margin: 0px;
	}
	
	.logo {
		padding: 10px 45px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	.section, .hr, .slide-text {
		width: 252px;
	}
	
	#header-logo {
		padding: 32px 0;
	}
	
	#header-logo img {
		width: 252px;
		height: auto;
		padding: 0 0 16px 0;
	}
	
	#punch-line {
		font-size: 13px;
		padding: 14px 0;
		float: left;
		clear: both;
		width: 100%;
		border-top: 1px solid #ccc;
	}
	
	#list-nav li {
		font-size: 10px;
		padding: 10px  9px 10px 0;
	}
	
	#lang-search {
		display: none;
		padding-top: 0px;
		float:left;
	}
	
	#main {
		padding: 24px 0;
	}
	
	#news {
		padding: 24px 0;
	}
	
	#logo-wrapper {
		width:252px;
		margin:0 auto;
	}
	
	#logos {
		padding: 24px 0;
	}
	
	.logo {
		width: 102px;
		height: auto;
		padding: 5px;
		margin: 6px;
	}
	
	.column {
		width: 252px;
		margin:0;
		clear:both;
	}
	
}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.section, .hr {
		width: 436px;
	}
	
	#logo-wrapper {
		width:436px;
		margin:0 auto;
	}
	
	.logo {
		width: 110px;
		height: auto;
		padding: 6px 10px;
		margin: 6px;
	}
	
	.column {
		width: 436px;
		margin:0;
		clear:both;
	}
	
}
