/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-family: TeXGyreHerosRegular, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	letter-spacing:-1px;
	line-height: 32px;
}

.big, h4 {
	font-family: TeXGyreHerosRegular, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	text-decoration:none;
}

body {
	font: 12px/18px TeXGyreHerosRegular, Helvetica, serif;
}

.small, small {
	font-family: TeXGyreHerosRegular, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 9px;
	line-height: 14px;
}

.special {
	font-family: TeXGyreHerosRegular, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration:none;
}

.small-special {
	font-family: TeXGyreHerosRegular, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration:none;
}

.special-italic {
	font-family: TeXGyreHerosRegular, serif;
	font-size: 16px;
	font-style: italic;
}


/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	background: #f1f1f1;
	color: rgb(40,40,40);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

/* (almost) All elements.. */
/* Here our main column width is applied to all the elements. The
  ones that span the whole screen are either not defined here or
  use wrappers which get the CSS properties */

#header, #image-slider, #main, #news, #logos, #footer, .hr {
	position: relative;
	width: 896px;
	margin: 0 auto;
}

#main, #news, #logos, #footer {
	padding:24px 0;
	overflow:auto;
}

/* Header */

#header-wrapper {
	width: 100%;
	background: #fafafa;
}

#header {
	overflow: hidden;
}

#header-logo {
	height: 67px;
	padding: 64px 0 32px 0;
}

#header-logo img {
	float: left;
}

#punch-line {
	padding-top: 52px;
	float: right;
	color: #444;
}

/* Navigation */

#nav {
	clear:both;
	overflow: auto;
	width: 100%;
}

#nav-border {
	width: 100%;
	position: absolute;
	border-top: 7px solid #ccc;
}

#list-nav {
	position: relative;
}

#list-nav li {
	display:block;
	float:left;
	list-style-type: none;
	padding: 18px  64px 18px 0;
	margin: 0;
	text-transform: uppercase;
	border-top: 7px solid #ccc;
}

#list-nav a {
	color: #707070;
}

#list-nav li:hover {
	color:#222;
	border-top: 7px solid #bbb;
}

#list-nav .active {
	color: #000;
}

#list-nav li.active {
	color:#000;
	border-top: 7px solid #444;
}

/* Language Selection & Search */

#lang-search {
	padding-top: 24px;
	float:right;
}

/* Image Slider */

#slider-wrapper {
	background:#fafafa;
}

#slidesContainer {
  margin:0 auto;
  width:896px;
  height:320px;
  overflow-x:hidden;
  overflow-y:auto; /* allow scrollbar */
  position:relative;
  border-top: 1px solid #ccc;
}

.slide {
  margin:0 auto;
  width:896px;
  height:280px;
  position:relative;
}

.slide-text {
  position: relative;
  display: block;
  z-index: 100;
  padding: 18px 0;
  color: #000;
}

.processing-canvas {
  position:absolute;
  left:0px;
  top:0px;
  width: 100%;
  height:320px;
}

/* Controls */
.control {
  display:block;
  width:14px;
  height:22px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index:1000;
}

#leftControl {
  top:150px;
  left:-24px;
  background:transparent url(../../images/slider/control_left.jpg) no-repeat 0 0;
}
#rightControl {
  top:150px;
  right:-24px;
  background:transparent url(../../images/slider/control_right.jpg) no-repeat 0 0;
}

/* Main */

#main {
	border-top: 7px solid #444;
	padding: 48px 0;
}

.column {
	width: 252px;
	margin:0 24px 0 0;
	float:left;
}

.wide {
	width: 344px;
}

.double {
	width: 528px;
}

.half-width {
	width: 436px;
}

.last {
	margin:0;
}

.column-title {
	padding: 0 0 20px 0;
}

.column-image {
	float: left;
	padding: 14px 18px 14px 0;
}

/* News */

#news {
	border-top: 1px solid #bbb;
	padding: 48px 0;
}

.news-title {
	
}

.news-content {
	
}

/* Logo Section */

#logo-wrapper {
	background: url("../../images/background-1.gif");
	background-position: top left;
	background-repeat: repeat;
}

#logos {
	border-top: 7px solid #444;
	padding: 48px 0;
}

.logo {
	background: #efefef;
	float: left;
	padding: 16px 76px;
	margin: 8px;
	border: 1px solid #bababa;
}

/* Footer Section */

#footer {
	background: #404040 url("../../images/background-4.gif");
	background-position: top left;
	background-repeat: repeat-x;
	height:140px;
	width: 100%;
	border-top:1px solid #aaa;
}

.footer-column {
	width: 252px;
	margin:0 24px 0 0;
	float:left;
}

/* Misc Elements */

#input-search {
	width: 160px;
	line-height:16px;
	background: #fafafa;
	border: 1px solid #bfbfbf;
}

.hr {
	border-top: 1px solid #ccc;
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	#top-bar, #header, #image-slider, #slidesContainer, .slide, #main, #news, #logos, .hr {
		width: 712px;
	}
	
	.column {
		width: 332px;
		margin:0 24px 0 0;
	}
	
	.last {
		margin: 0px;
	}
	
	.logo {
		padding: 10px 45px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	#top-bar, #header, #image-slider, #main, #news, #logos, .hr, .slide-text {
		width: 252px;
	}
	
	#header-logo {
		padding: 32px 0;
	}
	
	#header-logo img {
		width: 252px;
		height: auto;
		padding: 0 0 16px 0;
	}
	
	#punch-line {
		font-size: 13px;
		padding: 14px 0;
		float: left;
		clear: both;
		width: 100%;
		border-top: 1px solid #ccc;
	}
	
	#list-nav li {
		font-size: 10px;
		padding: 10px  9px 10px 0;
	}
	
	#lang-search {
		display: none;
		padding-top: 0px;
		float:left;
	}
	
	#main {
		padding: 24px 0;
	}
	
	#news {
		padding: 24px 0;
	}
	
	#logo-wrapper {
		width:252px;
		margin:0 auto;
	}
	
	#logos {
		padding: 24px 0;
	}
	
	.logo {
		width: 102px;
		height: auto;
		padding: 5px;
		margin: 6px;
	}
	
	.column {
		width: 252px;
		margin:0;
		clear:both;
	}
	
}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#top-bar, #header, #image-slider, #main, #news, #logos, .hr {
		width: 436px;
	}
	
	#logo-wrapper {
		width:436px;
		margin:0 auto;
	}
	
	.logo {
		width: 110px;
		height: auto;
		padding: 6px 10px;
		margin: 6px;
	}
	
	.column {
		width: 436px;
		margin:0;
		clear:both;
	}
	
}